.button {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  border: none;
  cursor: pointer;
  margin-top: 16px;
}

.button:hover {
  color: red;
  font-weight: bolder;
}